<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="MovieDb" providerName="System.Data.SqlClient" connectionString="Data Source=PC;Initial Catalog=MovieDb;User ID=sa;Password=1" />
  </connectionStrings>  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:6666/CountryService" binding="netTcpBinding" contract="MoviesDB.Client.Contracts.ICountryService" />
      <endpoint address="net.tcp://localhost:6666/MovieService" binding="netTcpBinding" contract="MoviesDB.Client.Contracts.IMovieService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000" transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>

