@using FluentValidation.Results
@using MoviesDb.Areas.Admin.Constants
@model Language

@{
    ViewBag.Title = "Edit";
}
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Language <small></small></h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_0">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-red-sunglo"></i>
                                <span class="caption-subject font-red-sunglo bold uppercase">Edit</span>
                                <span class="caption-helper">Edit the existing language</span>
                            </div>
                        </div>

                        <div class="portlet-body form ">
                            <div class="form-horizontal">
                                @using (Html.BeginForm("Edit", "Language", FormMethod.Post))
                                {
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Name</label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <input type="submit" value="Submit" class="btn green" />
                                                <a href="/admin/language/index" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            @if (TempData["Status"] != null)
                            {
                                switch (TempData["Status"].ToString())
                                {
                                    case CrudNotification.ValidationError:
                                        foreach (var item in (IEnumerable<ValidationFailure>)ViewBag.ValidationErrors)
                                        {
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">@item.PropertyName</h3>
                                                </div>
                                                <div class="panel-body">
                                                    @item.ErrorMessage
                                                </div>
                                            </div>
                                        }
                                    break;

                                    case CrudNotification.Success:
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Success!</h3>
                                        </div>
                                        <div class="panel-body">
                                            Country updated without any fault(s).
                                        </div>
                                    </div>
                                        break;

                                    case CrudNotification.Failed:
                                        break;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
